/src/cpp/units
/auto/notes.el
/notes.aux
/notes.log
/notes.out
/notes.pdf
/auto/slides.el
/slides.aux
/slides.log
/slides.nav
/slides.out
/slides.pdf
/slides.snm
/slides.toc
/SLIDES/auto/content.el
/SLIDES/content.aux
/SLIDES/slide.aux
/SLIDES/slide.log
/SLIDES/slide.nav
/SLIDES/slide.pdf
/SLIDES/slide.synctex.gz
/SLIDES/slide.toc
/SEME_report/Medical_part_model_part.aux
/SEME_report/Medical_part_model_part.dvi
/SEME_report/Medical_part_model_part.log
/SEME_report/Medical_part_model_part.pdf
/SEME_report/auto/
/SLIDES/Glaucoma.log
/SLIDES/content.log
